*, *::before, *::after{
    box-sizing: border-box;
    text-align: center;
    font-family: 'Sono', sans-serif;
}
body{
    background-color: #000000;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


#header{
    font-family: 'Syne Mono', monospace;
    position: fixed;
    justify-content: center;
    text-align: center;
    color: white;
    top: 0;
    padding: 13rem 0;
    font-size: 55px;
    transform: skew(-5deg,7deg);
    cursor: default;
}



/* designing the intro section/ what users will see when they first open app */



#intro, #ruleset, #scorePage{
    background-color: #1a1a1a;
    font-size: 20px;
    padding:8rem 11rem;
    box-shadow: 0 1px 18px 9px #db26d5a2;
    border-color: #db26d5a2;
   
}

#intro-title{
    font-size: 45px;
    font-family: 'Syne Mono', monospace;
    color: #db26d5a2;
}

li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    float:left;
    clear:left;
    line-height: 1.9em;
}
#start, #rules-tab, #highscore-list{
    
    font-size: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: #39FF14;
    
}

#start::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #39FF14;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out
}
#start:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* style rule set elements */
#ruleset{
    display: none;
}
#rules-tab{
    color: #14a5ff;
}
#rules-tab::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #14a5ff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out
}
#rules-tab:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

#rules{
    font-size: 30px;
    color:white;
    display: block;
}

#rules li a{
    text-decoration: none;
    color: #ff1818;
    padding-left: 345px;
    
   
}




/* style high score elements */
#highscore-list{
    color:#ff1818;
}

#highscore-list::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff1818;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out
}
#highscore-list:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
#highscores{
    font-size: 30px;
    color:white;
    display: none;
}

#highscores a{
    text-decoration: none;
    color: #ff1818;
    padding-left: 345px;
   text-align: center;
}


#intro-title{
    color:white
}


/* design style for question box */

#question{
    font-size: 25px;
    color:white
}
#question-box{
    font-size: 30px;
    display: none;
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }

#timer, #score{
    color: white;
    font-size: 30px;
    display: none;
    text-align: center;
    padding-left: 212px;
    margin-top: 20px;
}
.answers{
    display: grid;
    grid-template-columns: repeat(2,auto);
    margin:200px 0;
    gap:20px;
}

.choice{
    font-size: 30px;
    border-radius: 25px;
    padding:30px 10px;
    gap: 40px;
    color:white;
    outline: none;
    background-color:#db26d5a2; 
}
.choice:hover{
    cursor: pointer;
    border: 3px solid #fff;
    transform: scale(1.10);
    transform: 100ms;
}

#end{
    color: white;
    display: none;
    font-size: 50px;
}

#end button{
    font-size: larger;
    color:#db26d5a2 ;
    width: 20rem;
    font-size: 1.8rem ;
    border-radius: 10px;
    border-color: #db26d5a2;
}

#end button:hover{
    cursor: pointer;
    transform: scale(1.10);
    transform: 100ms;
}


form{
    padding-top: 5rem;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    border-color: #fff;
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border-radius: 10px;
    border-color: #db26d5a2;
}

input::placeholder{
    color:#db26d5a2
}

input, select, textarea{
    color:#db26d5a2
}

#finalScore{
    color:white
}
#highScoresList{
    color:white
}

#scorePage a{
    float: left;
    margin-top: 30px;
}